h6{
    padding-left: 2%;
}

#cards{
    margin-top: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#deck{
    margin-left: 10%;
    margin-right: 10%;

    margin-bottom: 3%;
    padding: 5%;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}

#addCard{
    width: 100%;

}

#addDeck{
    margin-top: 3%;
}

hr{
    margin-top: 0;
}

#newDeckHeading{
    padding-left: 0;
    margin-left: 10%;
    margin-top: 3%;
    text-align: left;
}

h4{
    margin-bottom: 0;
}

#saveDeck{
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
}
