#courseInfo {
    display: grid;
    grid-template-columns: 0.7fr 2fr 0.7fr;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    row-gap: 1em;
}
h1 {
    grid-column: 1/4;
}
h2 {
    float: left;
    grid-column: 1/4;
    text-align: left;
}

label  {
    grid-column: 1/4;
    text-align: left;
}

.form-group{ 
    grid-column: 1/4;
    display: inherit;
    grid-template-columns: 1fr 0.1fr;
    column-gap: 1em;
}

input[id^="chapter"] {
    grid-column: 0/1;
}

svg {
    cursor: pointer;
}

#addDeck {
    grid-column: 1/2;
}

#editCourse {
    grid-column: 3/4;
}