#recentCourses, #recentSharedCourses, #recentSharedDecks {
  margin-left: 10%;
}

#allCourses, #allSharedContent {
  margin-left: auto;
  margin-right: 9%;
  
}

a {
  color:#00b8d8 !important;
}

hr {
  width: 90%;
}

#user {
  margin: 5%;
}

#newCourse-home {
  margin:auto;
}

#sharedCourses {
  margin-top: 5%;
}

#sharedDecks {
  margin-top: 5%;
  margin-bottom: 5%;
}

#testsView {
  margin: 10%;
}