#loginform{
    width:90%;
    margin:auto;
    padding-top: 2%;
}
#loginnav{
    background-color: black;
    padding: 10px;
    margin-bottom: 40px;
    text-align: right;
}
#link{
   font-size: 17px;
   color:rgb(47, 123, 255);
}
#header{
    margin-top: 5%;
}

#login-text {
    float: left;
    font-size:20px;
}

#sign-up {
    margin-top: 3%;
    margin-bottom: 2%;
}

#button-signin {
    margin-top: 3%;
}

#google-signin {
    margin-top: 0%;
}

#login-card {
    width: 35%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}