#title {
    margin: 1em;
}

.container {
    padding-right: 0%;
}

#messages{
    max-height: 70%;
    margin-top: 7%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 2%;
}
.odd {
    text-align: left;
    border: 1px solid rgba(0,0,0,.125) !important
}

.even {
    text-align: right;
    border: 1px solid rgba(0,0,0,.125) !important
}

#newMessage {
    margin: 4%;
    margin-left: 7%;
    margin-bottom: 2%;
    width: 80%;
}

#sendMessage {
    float: left;
    margin-left: 7%;
}
