#title {
    margin: 1em;
}

#messagesGroup{
    max-height: 70%;
    margin: 7%;
}

.messageThread{
    cursor: pointer;
    text-align: left;
}

#newMessageThread {
    margin: 3em;
    bottom: 0;
    float: right;
}