#form{
    width:30%;
    margin-left: 700px;
}
#nav{
    background-color: black;
    padding: 10px;
    margin-bottom: 40px;
    text-align: right;
}
#link{
    font-size: x-large;
    color:greenyellow;
 }
 #header{
     margin-bottom: 25px;
 }
 #checkbox{
    text-align:left;
    margin-top:30px;
    font-size:large;
 }
 