#register-form{
    width:90%;
    margin:auto;
    padding-top: 2%;
}

#register-card {
    width: 35%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#signup-text {
    float: left;
    font-size:20px;
}

#button-signup {
    margin-top: 3%;
    margin-bottom: 3%;
}

#link{
    font-size: x-large;
    color:greenyellow
 }

 #back-login {
    margin-bottom: 3%;
 }
 