.cards {
    padding: 1%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1vw;
    align-items: center;
    justify-items: center;
    width: 80%;
    height: 100%;
}

.card {
    width: 100%;
}

.card-body {
    color: black;
    cursor: pointer;
}

.text{
    width: 100%;
}