.difficulty-button-container {
    margin-top: 1%;
}
  
.difficulty-button {
    margin-left: 10px;
    margin-right: 10px;
}

#med-button {
  background-color: rgb(240, 240, 59);
  border-color: rgb(240, 240, 59);
}

#hard-button {
  background-color: rgb(219, 120, 120);
  border-color: rgb(219, 120, 120);
}
