/* Want to check how everything else looks on master
before deciding if this is necessary */

/* .btn-primary{
    background-color: #00b8d8;
    border-color: #00b8d8;
}

.btn-outline-primary{
    border-color: #00b8d8;
    color: #00b8d8;
} */

/* #view-all-cards {
    background-color: #00b8d8;
    border-color: #00b8d8;
} */