.modal-header {
    text-align: center;
}

.modal-body h4 {
    text-align: left;
    margin-bottom: 3%;
}

.shareContent {
    margin-top: 3%;
    float: right;
}

.access {
    text-align: left;
    max-height: 9em;
    overflow-y: auto;
}

.sharedUser{
    border-style: none;
}

.addUsers {
    margin-top: 5%;
}

.removeUser {
    float: right
}