.test-list-container {

    margin: 1em;

}

.testRow {
    padding-top: 1%;
    margin-top: 2%;
}

.testDelete {
    margin-top: 0.125em;
    float: right;
}

.list-group {
    max-height: 20em;
    align-items: center;
}

.list-group-item {
    padding: 0.5rem, 1.0rem;
    font: bold;
}

#tests-list{
    margin: auto;
}

#test-list-delete{
    margin-right:5em;
}

