#CalendarWrapper{
    height: 350pt; 
    width: 79.8%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

#newEvent{
    margin-top: 1%;
    float: right;
}

.rbc-event{
    background-color: #007bff;
}

.modal-body>h6{
    width: 100%;
    margin-bottom: -.25rem;
}


.modal-body>p .calender-text{
    padding-left: 2%;
    float: left;
    text-align: justify;
}

#eventTitle{
    text-align: left;
    margin: auto;
    font-size: 20pt;
}

#editEvent{
    float: right;
}

.modal-title{
    width: 100%;
}

#EventInfo{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

label{
    float: left;
}

.react-datepicker{
    min-width: 257pt;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected{
    background-color: #007bff;
}

#calender-datepicker{
    margin-left: 2%;
    margin-right: 2%;
}

#datepicker {
    width: 100%;
}

#date-end {
    margin-top: 1em;
}
